/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}

/*NAV BAR*/
/* ===== Colours ===== */
:root{
    --body-color: white;
    --nav-color: black;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body{
    height: 100vh;
    background-color: var(--body-color);
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}

/*INDEX*/

.row1{
    height: calc(100vh - 100px);
    overflow: hidden;

    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content:space-around;
    margin-top: 50px;
}

.hero {
    height: calc(100vh - 100px);
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    justify-content:space-around;

  
}

  .wrapper {
    width: 50%;
    height:100%;
    display: flex;
    flex-direction: column;
    
  }

.textContainer {
  
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin-right: auto;
    margin-left: auto;
}

button {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    margin-right: 20px;
    cursor: pointer;
    font-weight: 300;
}
        

img{
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
}

.scrollButton{
    position: absolute;
    bottom: 20px;
    left: 0;
    margin-left: 30px;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease;
}


.textContainer h2 {
    font-size: 50px;
    font-weight: 600;

}
.textContainer h1{
    font-size: 20px;
    font-weight: 300;
    opacity: 0.7;
    
   
}

.spline3D{
    position: relative;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

/*ROW 2*/

#services{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
}

.services-pick{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.selected{
    font-weight: 600;
    opacity: 1;
    cursor: pointer;
}

.select{
    opacity: 0.4;
    font-weight: 400;
    cursor: pointer;
}

.service-show{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-right: 550px;
    margin-top: 100px;
}

.service-box{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.service-list{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    height: 300px;
    justify-content: space-evenly;
}

.service-fee-row{
    width: 100%;
    min-height: 150px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.h-rate{
    color: white;
}

.h-rate h4{
    font-size: 18px;
    font-weight: 400;
}

/*PORTFOLIO*/

#portfolio{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    align-items: center;
}

.portfolio-title h1{
    opacity: 0.6;
    font-weight: 500;
}

.slider-btn {
    color: #717171;
    background: black;
    padding: 0.625rem 1.875rem;
    margin-top: 2.125rem;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #c2c2c2;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.slider-btn:hover {
    border: 0.125rem solid #00a4aa;
    color: #00a4aa;
}


.myswiper {
    width: 100%;
    padding-top: 3.125rem;
    height: 300px;
    
}

.myswiper-slider {
    width: 18.75rem;
    height: 28.125rem;
    background-size: cover;
    background-position: center;
}


.swiper-slide-active div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    height: 300px;
}

.swiper-slide-active div a {
    align-self: flex-start;
}

.myswiper-slider h2 {
    color: #fff;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 0.625rem;
    padding: 0 0 0 1.563rem;
    text-transform: uppercase;
}

.myswiper-slider p {
    color: #dadada;
    padding: 0 1.563rem;
    line-height: 1.6;
    font-size: 0.75rem;
}

.myswiper-slider a {
    margin: 1.25rem 1.5rem 3.5rem;
}

.myswiper-slider a:hover {
    color: #00a4aa;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-image{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width:80px;
    height:80px;
    position:absolute;
    margin-left:20px;
    border:0px solid black;
    background-size: cover;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 10px;
    object-fit: cover;
}

/*PORTOFILO PAGE*/

.portfolio-page{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    margin-top: 130px;
    align-items: center;
}

.intro-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.intro-left-bar{
    border:2px solid black;
    padding: 10px;
    border-top-left-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.youtube-frame{
    width: 400px;
}

.intro-left-title{
    margin-bottom: 20px;
}

.intro-left-image{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width:100px;
    height:100px;
    position:relative;
    margin-left:150px;
    border:0px solid black;
    background-size: cover;
    margin-top: 10px;
    object-fit: cover;
}

.intro-left-list{
    margin-left: 10px;
}

.intro-left-list li{
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 15px;
}

.tryFree{
    padding: 15px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    cursor: pointer;
    color: black;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.tryFree:hover{
    background-color: black;
    color: white;
}

.this-project-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.this-project-title{
    text-align: center;
    margin-top: 40px;
    opacity: 1;
    font-size: 20px;
    font-weight: 400;
    width: 50%;
    background-color: black;
    color:white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.experience-box{
    display: flex;
    flex-direction: row;
    width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 100px;
    justify-content: space-between;
}

.experience-box-reverse{
    display: flex;
    flex-direction: row-reverse;
    width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 100px;
    justify-content: space-between;
}


.exp-img{
    width:150px;
    height:150px;
    object-fit: cover;
    position: relative;
}

.experience-box .exp-text{
    align-items: start;
    width: 400px;
   
}

.experience-box-reverse .exp-text{
    align-items: start;
    width: 400px;
    margin-left: 30px;
}

.exp-title{
    font-size: 20px;
    margin-bottom: 10px;

}

@media (max-width: 880px) {
    .intro-box{
        display: flex;
        flex-direction: column-reverse;
        width: 450px;
    }
    .youtube-frame{
        height: 250px;
        width: 450px;;
    }

    .intro-left-bar{
        border:2px solid black;
        padding: 10px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

}

@media (max-width: 790px) {
    .experience-box{
        width: 500px;
    }
    .experience-box-reverse{
        width: 500px;
    }

    .experience-box .exp-title{
        font-size: 18px;
        margin-bottom: 0px;
    
    }
    .experience-box-reverse .exp-title{
        font-size: 18px;
        margin-bottom: 0px;
    
    }

    .experience-box .exp-text{
        align-items: start;
        width: 300px;
    }
    .experience-box-reverse .exp-text{
        align-items: start;
        width: 300px;
    }
}